@model FinanzasPersonalesWeb.Models.Monedas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monedas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonedaDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonedaDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonedaSimbolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonedaSimbolo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonedaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
