@model IEnumerable<FinanzasPersonalesWeb.Models.Transacciones>

@{
    ViewBag.Title = "Transacciones";
}

<div class="card-header row">

    <h2>Transacciones</h2>

</div>
<div class="row col-md-12" style="margin-top:10px; margin-left:0px !important;padding-left:0px !important">

    <div class="col-md-1">
        <button type="button" class="btn btn-danger" id="createTransacciones">
            Crear
        </button>
    </div>
</div>
<div class="col-md-12" style="padding-bottom:20px;">

</div>

<table class="table table-striped" id="TransT">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Tipo Transacción
            </th>

            <th>
                Monto
            </th>
            <th>
                Cuenta
            </th>
            <th>
                Fecha
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TranDescripcion)
                </td>
                <td>
                    @if (item.TranTipo == 2)
                    {
                        <label>Gastos</label>
                    }
                    else
                    {
                        <label>Ingresos</label>

                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TranMonto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuentas.CuentaDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranFecha)
                </td>

                <td>
                    <button type="button" class="btn btn-warning  editTransacciones" TransId="@item.TranId">
                        Editar
                    </button>

                    <button type="button" class="btn btn-info detailsTransacciones" TransId="@item.TranId">
                        Detalles
                    </button>
                </td>
            </tr>

        }
    </tbody>
</table>

<!-- Modal Ingresos /Gastos -->
<div class="modal" id="TransModal" actionType>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Modal body -->
                <form id="TransForm">
                    <input type="hidden" name="TranId" value="" />

                    <div class="form-row col-md-12" style="padding-bottom: 5px;">
                        <label class="col-md-6">Tipo de transacción</label>
                        <select class="custom-select col-md-6 transacciones inputState" name="TranTipo">
                            <option selected>--Seleccione--</option>
                            <option value="1">GASTOS</option>
                            <option value="2">INGRESOS</option>
                        </select>
                    </div>

                    <div class="form-row col-md-12" style="padding-bottom: 5px;">
                        <label class="col-md-3">Monto</label>
                        <input type="text" class="form-control col-md-9 inputState" name="TranMonto" />
                    </div>

                    <div class="form-row col-md-12" style="padding-bottom: 5px;">
                        <label class="col-md-6">Descripción</label>
                        <input type="text" class="form-control col-md-6 inputState" name="TranDescripcion" />
                    </div>

                    <div class="form-row col-md-12" style="padding-bottom: 5px;">
                        <label class="col-md-6">Fecha</label>
                        <input type="text" class="form-control col-md-6 inputState datepicker-here" name="TranFh" data-timepicker="true" data-language='es'  hidden/>
                        <input type="text" class="form-control col-md-6 inputState datepicker-here" name="TranFecha" data-timepicker="true" data-language='es' />
                    </div>

                    <div class="form-row col-md-12" style="padding-bottom: 5px;">
                        <label class="col-md-3">Cuenta</label>
                        <select class="custom-select  col-md-9 cuenta inputState" name="TranCuenta">
                            <option selected>--Seleccione--</option>
                        </select>
                    </div>

                    @*<div class="form-row col-md-12" style="padding-bottom: 5px;">
            <div class="form-check form-row col-md-6">
                <label class="form-check-label col-md-8">
                    Es recurrente?
                </label>
                <input type="checkbox" class="form-check-input col-md-2 inputState" value="" name="TranRecurrente">
            </div>

            <div class="form-row col-md-6" style="padding-bottom: 5px;">
                <label class="col-md-6">Día de corte</label>
                <input type="text" class="form-control col-md-6 inputState datepicker-here" name="TranFhLimite"  data-timepicker="true" data-language='es' />
            </div>
        </div>*@

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="btn-limpiar">Limpiar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-crear">Crear</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/FP Scripts/FillingDropdowns.js"></script>
<script src="~/Scripts/FP Scripts/Transacciones/Transacciones.js"></script>