@model FinanzasPersonalesWeb.Models.PresupuestoItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PresupuestoItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Presupuesto.PresupuestoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presupuesto.PresupuestoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PItemDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PItemDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PItemMonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PItemMonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PItemFhActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PItemFhActualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
