@model FinanzasPersonalesWeb.Models.Ingresos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngresoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoMonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoMonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoRecurrente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoRecurrente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoRecurrenteFhLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoRecurrenteFhLimite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoCuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IngresoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
