@model FinanzasPersonalesWeb.Models.Presupuesto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monedas.MonedaDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monedas.MonedaDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresupuestoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresupuestoMonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoMonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresupuestoFhActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoFhActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresupuestoFhCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresupuestoFhCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PresupuestoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
